<div class = 'container-fluid'>
    <div class="jumbotron">
	          <div class="row">
                <div class="col-lg-6">
                  <h1>Show we care</h1>
                  <p>Such is the nature of Life - it doesn't wait for anyone. While the office work keeps us busy, new priorities keeps us engaged but I am sure, we cannot forget that we  recently have seen/heard about the ravagious floods in India causing immense damage to life & property at <b>God's own country, Kerala</b>.
                    The damage to property and irreversible loss of lives cannot be compensated for but a small act of giving will mean a lot!</p>
                </div>
                <div class="col-lg-6">
                   <img src="assets/images/kerala.png" />
                </div>
            </div>
        </div>



    <router-outlet></router-outlet>


</div>

